{% extends 'base.html' %}

{% block content %}
    <table class="highlight">
        <tr>
            <th>Nouns</th>
            <th>Adjectives</th>
            <th>Adverbs</th>
            <th>Verbs</th>
            <th>Others</th>
        </tr>
        {% for four_word in four_words %}
            <tr>
                <td class="column">
                    <a href="{% url 'word-info' four_word.id %}">{{ four_word.noun }}</a>
                </td>
                <td class="column">
                    <a href="{% url 'word-info' four_word.id %}">{{ four_word.adjective }}</a>
                </td>
                <td class="column">
                    <a href="{% url 'word-info' four_word.id %}">{{ four_word.adverb }}</a>
                </td>
                <td class="column">
                    <a href="{% url 'word-info' four_word.id %}">{{ four_word.verb }}</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}