{% extends 'your_vocabulary.html' %}

{% block content %}
    <div><li class="column">{{ four_words_page.noun }}</li></div>
    <div><li class="column">{{ four_words_page.noun_description }}</li></div>
    <div><li class="column">{{ four_words_page.noun_example }}</li></div>
    <div><li class="column">{{ four_words_page.noun_translate }}</li></div>
    <div><li class="column">{{ four_words_page.adjective }}</li></div>
    <div><li class="column">{{ four_words_page.adjective_description }}</li></div>
    <div><li class="column">{{ four_words_page.adjective_example }}</li></div>
    <div><li class="column">{{ four_words_page.adjective_translate }}</li></div>
    <div><li class="column">{{ four_words_page.adverb }}</li></div>
    <div><li class="column">{{ four_words_page.adverb_description }}</li></div>
    <div><li class="column">{{ four_words_page.adverb_example }}</li></div>
    <div><li class="column">{{ four_words_page.adverb_translate }}</li></div>
    <div><li class="column">{{ four_words_page.verb }}</li></div>
    <div><li class="column">{{ four_words_page.verb_description }}</li></div>
    <div><li class="column">{{ four_words_page.verb_example }}</li></div>
    <div><li class="column">{{ four_words_page.verb_translate }}</li></div>
{% endblock content %}