{% load static from staticfiles %}


<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/vocabulary.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>

    </script>
</head>
<body>

<div class="topnav">
    <h1 class="logo">4Words</h1>
    <a class="profile" href="#">Profile</a>
    <a class="vocabulary" href="#">Vocabulary</a>
    <a class="training" href="#">Training</a>
    <a class="help" href="#">Help</a>
    {% csrf_token %}
    <form class="example" action="{% url 'four-words' %}" style="margin:auto; max-width:300px" method="GET">
        <button type="submit"><i class="fa fa-search"></i></button>
        <input type="text" placeholder="Type word..." name="new_word">
    </form>
    <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;" class="fas fa-plus add"></button>
</div>

<div id="id01" class="modal">
    <input type="text" placeholder="Enter word" name="word" required>
    <nav class="four_words_card">
        <button><a href="#">Noun</a></button>
        <button><a href="#">Adjective</a></button>
        <button><a href="#">Adverb</a></button>
        <button><a href="#">Verb</a></button>
    </nav>
    <p class="description">Description</p>
    <p class="example">"Example"</p>
    <p class="translate">Translate</p>

    <div class="container">
        <button type="submit">+ Add to voabulary</button>
    </div>

    <div class="container">
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
    </div>
    </form>
</div>

<script>
    // Get the modal
    var modal = document.getElementById('id01');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>

{% block content %}
    <div class="row">
        {% for four_word in four_words %}
            <table>
                <tr>
                    <th>Nouns</th>
                    <th>Adjectives</th>
                    <th>Adverbs</th>
                    <th>Verbs</th>
                </tr>
                <tr>
                    <td class="column">{{ four_word.noun }}</td>
                    <td class="column">{{ four_word.adjective }}</td>
                    <td class="column">{{ four_word.adverb }}</td>
                    <td class="column">{{ four_word.verb }}</td>
                </tr>
            </table>
        {% endfor %}
    </div>
{% endblock content %}
</body>
</html>
