{% load static from staticfiles %}


<!DOCTYPE html>
<html lang="en">
<head>
    <script type="application/javascript" src="{% static 'js/js.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/materialize.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/vocabulary.css' %}">
    <link rel="stylesheet" href="{% static 'css/materialize.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>

    </script>
</head>
<body>
<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">4Words</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="tab col s3"><a href="{% url 'new-word' %}">Add new word</a></li>
            <li class="tab col s3"><a href="#">Help</a></li>
            <li class="tab col s3"><a href="#">Training</a></li>
            <li class="tab col s3"><a class="active" href="{% url 'four-words' %}">Vocabulary</a></li>
            <li class="tab col s3"><a href="#">Profile</a></li>
        </ul>
    </div>
</nav>

{% block content %}
{% endblock content %}
</body>
</html>
