{% load static from staticfiles %}


<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/vocabulary.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>

    </script>
</head>
<body>

<div class="topnav">
    <h1 class="logo">4Words</h1>
    <a class="profile" href="#">Profile</a>
    <a class="vocabulary" href="#">Vocabulary</a>
    <a class="training" href="#">Training</a>
    <a class="help" href="#">Help</a>
    <button class="button_add">Add new word</button>
</div>

{% block content %}
    <div class="row">
        {% for four_word in four_words %}
            <div class="column">Noun</div>
            <div class="column">Adjective</div>
            <div class="column">Adverb</div>
            <div class="column">Verb</div>
        {% endfor %}
    </div>
{% endblock content %}

<footer>
    <ul>
        <li style="float: bottom;">
            <a class="logo" href="#">4Words<i>&copy; 2018</i></a>
        </li>
        <li>
            <p class="reachus">Reach us</p>
            <ul>
                <li><a href="#">Email</a></li>
                <li><a href="#">Facebook</a></li>
                <li><a href="https://github.com/jeSoosRemirez/4Words">Git Hub</a></li>
                <li>063 603 ....</li>
            </ul>
        </li>
        <li>
            <p class="clients">Clients</p>
            <ul>
                <li><a href="#">Login Area</a></li>
                <li><a href="#">Support Center</a></li>
                <li><a href="#">FAQ</a></li>
            </ul>
        </li>
    </ul>
</footer>
</body>
</html>
