.nav-wrapper{
	background-color: #333333;
}
.nav-wrapper > ul > li > a:hover{
	background-color: #f5e200;!important;
	color: #000000;
}
tr > td{
	width: 20%;
}
tr > td > a:hover{
	text-decoration: underline;
	color: #0000f0;
}
